:root {
  --primary: #212326;
  --secondary: #25262a;
  --primaryDarker: #1d1e22;
  --primaryLighter: #333339;
  --primaryEvenLighter: #3c3c44;
  --accent: #4fc0ff;
  --accentLighter: #75cfff;
  --textPrimary: #ffffff;
  --textSecondary: #787885;
}

body {
  margin: 0;
  font-family: 'ITC Avant Garde Gothic Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-style: normal;
    font-weight: 100;
    line-height: 33px;
    letter-spacing: 0.045em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}